/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /* when setting the height and width of an element, it applies it to everything, 
    including the border  */
    box-sizing: border-box;
}
/* Applies styles to the whole sheet*/
body {
    /*Using min-height will allow it to stretch larger than the height of the 
    screen when there is enough content on the page that the user needs to scroll.*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', 'sans-serif';
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;    
}

h1 {
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* nav styles with toggle drop down */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left:0;
    padding: 0 1em;
    box-shadow: 0 2px 4px #3a3a3a;
    display: none;
    top: 100%;
   
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: orange;
    /* flex; make main element take up any surplus space to push down the footer */
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Footer*/

footer {
    background-color: aqua;
}
